body{
    background-color: white;
}
.main{
    margin-top: 100px;
    margin-left: 330px;
}
.contact{
    display: flex;
    color: rgb(112, 117, 121);
}
.contact .first .dontwait{
    color: rgb(30, 171, 241);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 3px;
    margin-left: 10px;
}
.contact .first .con{
    color: rgb(50, 55, 72);
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.contact .second{
    margin-left: 150px;
}
.contact .second .letter{
    font-size: 23px;
    letter-spacing: 1px;
}
.contact .second .services{
    margin-top: 50px;
}
.contact .second .services .platform .head{
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.contact .second .services .platform .bodya{
    margin-top: 20px;
    font-size: 23px;
    /* font-family: Arial, Helvetica, sans-serif; */
    letter-spacing: 1px;
}
.contact .second .services .platform .bodyb{
    margin-top: 10px;
    font-size: 23px;
}
.contact .second .services .platform .bodyc{
    margin-top: 10px;
    font-size: 23px;
}
.contact .second .services .platform .bodyd{
    display: flex;
    margin-top: 10px;
    font-size: 23px;
}
.contact .second .services .platform .bodyd .email{
    color: rgb(30, 171, 241);
}
.contact .second .services .relation{
    margin-left: 50px;
}
.contact .second .services .relation .head{
    color: rgb(51, 51, 51);
    font-size: 30px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.contact .second .services .relation .bodya{
    margin-top: 20px;
    font-size: 23px;
    /* font-family: Arial, Helvetica, sans-serif; */
    letter-spacing: 1px;
}
.contact .second .services .relation .bodyb{
    margin-top: 10px;
    font-size: 23px;
}
.contact .second .services .relation .bodyc{
    margin-top: 10px;
    font-size: 23px;
}
.contact .second .services .relation .bodyd{
    display: flex;
    margin-top: 10px;
    font-size: 23px;
}
.contact .second .services .relation .bodyd .email{
    color: rgb(30, 171, 241);
}
.services{
    display: flex;
}
.register{
    display: flex;
}
.register .second{
    padding: 50px;
}