.main{
    margin-top: 50px;
    background-color: rgb(237, 243, 254);
    display: flex;
    margin-top: 80px;
    padding-top: 100px;
    padding-bottom: 100px;
}
.integers{
    font-weight: bold;
    font-size: 27px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin-left: 320px;
    height: 600px;
}
.line1{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
}
.line2{
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.fire{
    background-color: rgb(255, 255, 255);
    padding: 60px 45px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.messenger{
    background-color: rgb(255, 255, 255);
    padding: 60px 45px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.wtf{
    background-color: rgb(255, 255, 255);
    padding: 60px 45px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.calendar{
    background-color: rgb(255, 255, 255);
    padding: 60px 45px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.cubes{
    background-color: rgb(255, 255, 255);
    padding: 60px 45px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.gallery{
    background-color: rgb(255, 255, 255);
    padding: 60px 45px;
    text-align: center;
    margin: 10px;
    border-radius: 5px;
}
.letters{
    margin-left: 120px;
}
.ourservices{
    font-weight: bold;
    font-size: 57px;
    font-family: Arial, Helvetica, sans-serif;
}
.nextshit{
    margin-top: 30px;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.paragraph{
    margin-top: 20px;
    font-size: 23px;
    color: rgb(112, 117, 121);
    word-spacing: 5px;
}
.signup{
    background-color: rgb(20, 120, 240);
    color: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    line-height: 40px;
    vertical-align: middle;
    margin-top: 30px;
    border-radius: 5px;
}