body{
    background-image: url(https://1khknycuzvc11afpqqnvjiyy-wpengine.netdna-ssl.com/wp-content/uploads/2019/05/1759b7f1888b6da.jpg);
    background-repeat: inherit;
}
#name{
    color: #FDFEFE;
    font-weight: bold;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 10px;
    background-image: url(https://c8.alamy.com/comp/GN41WJ/set-of-japanese-banners-for-design-GN41WJ.jpg);
    border: 2px solid steelblue;
    border-radius: 15px;
    width: 50px;
    height:225px;
    animation-name: namae;
    animation-duration: 2s;
}
@keyframes namae {
    from {color: #FDFEFE;}
    to {color: yellow;}
  }
#What{
    margin-top: 5px;
    background-image: url(https://cdn.shopify.com/s/files/1/0007/1496/5052/products/product-image-586161091_2048x.jpg?v=1538706327);
    width: 850px;
    height: 850px;
    border-radius: 100px;
    margin-left: 50px;
    border: 5px solid #CB4335;
}
#What1{
    margin-top: 5px;
    background-image: url(https://cdn.shopify.com/s/files/1/0007/1496/5052/products/product-image-586161091_2048x.jpg?v=1538706327);
    width: 650px;
    height: 750px;
    margin-left: 120px;
    position: absolute;
    border-left: 5px solid #CB4335;
    border-top: 5px solid #C0392B;
}
.container{
    display: flex;
}