body{
    background-color: black;
}
.profile{
    background-color: rgb(45, 45, 80);
    height: 1000px;
    width: 900px;
    margin-left: 500px;
    color: rgb(186, 184, 196);
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
}
.imge{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}
.imga{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.vis{
    color: white;
    margin-left: 5px;
    text-align: center;
}
.rl{
    justify-content: center;
    display: flex;
}
.and{
    text-align: center;
}
.pictures{
    height: 800px;
    width: 900px;
    display: flex;
    margin-top: 50px;
}
@media only screen and (max-width: 600px) {
    
}